
.chessboard-match_screen {

    position: relative;
    width: 100%;
    height: 100vh;


}

.chessboard-component1,
.chessboard-component2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.chessboard-component2 {
    left : 240px;
   
}

.chessboard-chessboard {
    /* border: 1px solid black; */
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);

}

.chessboard-body {
    background-image: linear-gradient(to bottom right, #9071A4, #3E4478);
  }

  .chessboard-font-face {
    font-family: 'Slate Pro';
    font-style: normal;
    font-weight: bold;
  }
  
  .chessboard-body {
    font-family: 'Slate Pro', Arial, sans-serif;
    color: white;
    /* Other CSS properties */
  }
  .chessboard-Title {
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
  }
  .chessboard-button{
    position: absolute;
    bottom: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-family: 'Slate Pro', Arial, sans-serif;
    font: bold;
    font-size: 15px;
   background-color: #826F96;
   color: white;
   box-shadow: 0 0 30px white;
   outline: 2px solid cyan;
   border: none;
   transition: transform 0.3s;
   left: 500px;


  }
  .chessboard-PlayButton {
    /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100%;
  }


  .chessboard-button:hover {
  transform: scale(1.1);
}

.chessboard-button:active {
  transform: scale(0.9);
}


  
  
  
  
  
  