@tailwind base;
@tailwind components;
@tailwind utilities;

html,body
{
    font-family: "Bricolage Grotesque";
    background-color: #ffffff; /* Set the background color to white */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; /* Ensure the body takes full height */
}
    

h1, h2, h3, h4, h5, h6 {
    font-family: "Bricolage Grotesque";
}